body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #7FFFD4;
}

.button {
  position: absolute;
  bottom: 35px;
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  right: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-box {
  float: left;
  overflow: auto;
  margin: 30px 0 0 30px;
  background-color: black;
}

.card-image {
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  border-right: 3px solid #000;
  cursor: pointer;
}

.card-image:hover {
  opacity: 0.9;
}

.game-body {
  display: block;
  margin: auto;
  overflow: auto;
  width: 900px;
  height: 500px;
  border: 5px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF8C00;
}

.side-panel {
  float: right;
  width: 230px;
  height: 100%;
  background-color: white;
  border-left: 5px solid #000;
  background-color: #FF1493;
}

.card-container {
  display: inline-block;
  width: 650px;
}

.game-over-image-div {
  text-align: center;
}

.game-over-text {
  color: black;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color:#00FFFF;}
    10%  {color:#DC143C;}
    20%  {color:#7FFF00;}
    30%  {color:#9932CC;}
    40%  {color:#20B2AA;}
    50%  {color:#6B8E23;}
    60%  {color:#FA8072;}
    70%  {color:#9ACD32;}
    80%  {color:#40E0D0;}
    90%  {color:#DDA0DD;}
    100% {color:#000080;}
}

.button-box {
  text-align: center;
}

.click-text {
  margin-left: 10px;
  color: white;
}
